<#import "spring.ftl" as spring />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>

    </nav>
    <a href="/form">Add</a>
    <table>
        <thead>
            <th>Nama File</th>
            <th>Aksi</th>
        </thead>
        <tbody>
            <#if datas??>
            <#list datas as data>
            <tr>
                <td><a href="/download1?param=${data.fileId}" target="_blanks">${data.fileName}</a></td>
                <td><a href="/form?fileId=${data.fileId}">Edit</a></td>
                <td><a href="/delete?param=${data.fileId}">Delete</a></td>
            </tr>
            </#list>
            </#if>
        </tbody>
    </table>
</body>
</html>